---
---

@import "{{ site.theme }}";

h1#fl { text-align: center; color: #3b5998; font-size: 3em; font-weight: bold; }
h3#sub { text-align: center; color: #000000; font-size: 2em; }
h2#head1, h2#head2, h2#head3 { color: #3b5998; }
h2#head1:hover, h2#head2:hover, h2#head3:hover { color: #4863A0; }
span#s2 { font-style: italic; color: #3b5998; font-weight: bold;}
h3#subhead2 { text-decoration: underline; }
h2#subhead1:hover, h2#subhead2:hover,h2#subhead3:hover { color: #4863A0; }
